@model JobTrack.Models.Coversheet.CoversheetData

<div class="modal fade" id="modal-subsequent" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#009688;color:white">
                <h6 class="modal-title" id="confirmModalLabel">Enter Revision</h6>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="alert alert-danger fade show" id="ErrorMessage2">
                    <span>Required fields are missing.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="formSubsequent">
                    <div class="row">
                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Name = "SubsequentPass", Value = Model.SubsequentPass, Rows = 5, IsRequired = true })
                        </div>
                    </div>

                    <input type="hidden" name="CoversheetID" value="@Model.CoversheetID" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="onclickSubmitSubsequent();" id="btnOk">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setupDefaultForm();
    });

    function onclickSubmitSubsequent() {
        let isValid = validateForm('formSubsequent');
        if (isValid) {

            let isConfirmed = confirm('Are you sure you want to submit Revisions? \nThe Task will be reset after submitting.');
            if (isConfirmed) {

                submitForm('formSubsequent', '/Coversheet/UpdateSubsequentPass', null, function (response) {
                    if (response.IsSuccess) {

                        alert('Submit successful.');
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    }
                });
            }
        }      

        //let isValid = validateForm('formSubsequent');
        //if (isValid) {
        //    $('#Subsequent').val($('#InputSubsequent').val());
        //    $('#modal-subsequent').modal('hide');
        //}
    }
</script>