@model JobTrack.Models.FormFieldModel

<div class="form-check mb-1">
    <input type="checkbox" id="@Model.Name" name="@Model.Name" class="form-check-input">
    <label class="form-check-label" for="@Model.Name">@Model.Label</label>
</div>